[collection sitemap]
handle = "Site\Sitemap"
==
{% macro render_sitemap_item(item, reference) %}
    {% import _self as nav %}
    <li>
        {% if reference.isActive %}<strong>{% endif %}
        <a href="{{ reference.url }}">{{ reference.title }}</a>
        (lastmod: {{ reference.mtime|date('c') }})
        {% if reference.isActive %}</strong>{% endif %}
        {% if reference.items %}
            <ul>
                {% for child in reference.items %}
                    {{ nav.render_sitemap_item(item, child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
{% import _self as nav %}
<ul>
    {% for item in sitemap %}
        {{ nav.render_sitemap_item(
            item,
            link(item.reference, { nesting: true })
        ) }}
    {% endfor %}
</ul>
