@import "../theme/boot";

//
// AJAX Page Stylesheet
//

.ajax-in-progress .in-progress {
    display: none;
}

html[data-ajax-progress] .ajax-in-progress {
    .is-waiting {
        display: none;
    }
    .in-progress {
        display: block;
    }
}

.custom-loader {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: red;
}

.is-payment-loading {
    display: none;
}

form[data-ajax-progress=onCheckout] .is-payment-loading {
    display: block;
}
