name = "yo"

[staticPage]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
        <link rel="canonical" href="​{{ staticPage.page.baseFileName|staticPage }}" />
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        {variable
            name="header"
            type="nestedform"
            form="~/themes/test-theme/config/pages-header.yaml"
            tab="Header"
        }{/variable}

        <!-- Content -->
        <section id="layout-content">
            {repeater name="sections" groups="~/plugins/october/test/config/repeater_content.yaml" displayMode="builder" showDuplicate="true" tab="Blocks"}
                {variable name="_dummy" type="text"}{/variable}
            {/repeater}

            {repeater name="sections_other" groups="~/themes/test-theme/config/pages-lazy-content.yaml" tab="Lazy"}
                {variable name="_dummy" type="text"}{/variable}
            {/repeater}
        </section>

        <footer>
            {% placeholder ordering title="Ordering information" type="html" %}
        </footer>

    </body>
</html>
