##
title = "Testing Twig"
url = "/cms/twig"
layout = "default"
==
<?
function onStart()
{
    $this->getTwig()->addExtension(new \Twig\Extension\StringLoaderExtension);
}
?>
==
<div class="container">
    <h1>Testing Twig</h1>

    <h3>Testing Twig functions</h3>
    <pre>

    config('app.locale') → {{ config('app.locale') }}

    env('APP_ENV', 'production') → {{ env('APP_ENV', 'production') }}

    this.session.get('_token') → {{ this.session.get('_token') }}

    carbon('now') → {{ carbon('now') }}

    carbon('now').formatLocalized('%d de %B, %Y') → {{ carbon('now').formatLocalized('%d.%m.%Y %H:%M:%S') }}

    carbon('yesterday').diffForHumans() → {{ carbon('yesterday').diffForHumans() }}

    carbon('now').format('m.d.y.H.i.s') → {{ carbon('now').format('m.d.y.H.i.s') }}
    </pre>

    <hr />
    <h3>Testing Twig filters</h3>
    <pre>

    'I love programming.'|trans → {{ 'I love programming.'|trans }}

    'Jack'|str_upper → {{ 'Jack'|str_upper }}

    'JACK'|str_lower → {{ 'JACK'|str_lower }}

    'best '|str_repeat(3) → {{ 'best '|str_repeat(3) }}

    'mail'|str_plural(1) → {{ 'mail'|str_plural(1) }}

    'mail'|str_plural(2) → {{ 'mail'|str_plural(2) }}

    "Hello World!"|str_limit(5) → {{ "Hello World!"|str_limit(5) }}

    'xxx'|str_pad_both(7, 'o') → {{ 'xxx'|str_pad_both(7, 'o') }}

    'octobercms@gmail.tld'|html_mailto → {{ 'octobercms@gmail.tld'|html_mailto }}

    'October CMS'|str_replace('CMS', 'ERP') → {{ 'October CMS'|str_replace('CMS', 'ERP') }}

    {{ "<p><strong>Test</strong></p>'|html_strip('<p>')"|e }} → {{ '<p><strong>Test</strong></p>'|html_strip('<p>')|e }}
    </pre>

    <hr />
    <h3>Testing Twig dump</h3>
    {{ dump(this.session.all()) }}

    {{ d(this.session.all(), { foo: 'bar' }) }}

    <hr />
    <h3>Testing custom extension</h3>
    {% set name = 'John' %}
    {{ include(template_from_string("Hello {{ name }}")) }}
    {{ include(template_from_string("Hurry up it is: {{ 'now'|date('m/d/Y') }}")) }}

    <h3>Testing collect function</h3>

    {% set data = [{'name': 'David', 'age': 31}, {'name': 'John', 'age': 28}] %}
    <ul>
    {% for item in collect(data).sortBy('age') %}
        <li>{{ item.name }} (Age: {{ item.age }})</li>
    {% endfor %}
    </ul>

    <h3>Testing mail obfuscation</h3>
    <p>{{ 'octobercms@gmail.tld'|html_mailto }}</p>
    <p><a href="{{ 'octobercms@gmail.tld'|html_email }}">Test</a></p>

    <h3>Testing expressions</h3>

    {% if collect().all() %}
        <p>Collection is NOT empty!</p>
    {% else %}
        <p>Collection is empty</p>
    {% endif %}

    {% if [] %}
        <p>Array is NOT empty!</p>
    {% else %}
        <p>Array is empty</p>
    {% endif %}

</div>
