##
url = "/component"
layout = "default"

[kitchenSink kSink]
defaultView = "0"

[resources]
less[] = "pages/component.less"
==
<?
function onStart()
{
    //dd($this->kitchenSink->property('defaultView'));
}
?>
==
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-12">
                <div class="row">
                    <div class="col-xl-5">
                        <h1>Testing Components</h1>
                    </div>

                    <div class="col-xl-7">
                        <p>
                            Test Component functions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {{ kitchenSink.property('defaultView') ? 'True' : 'False' }}

    {% component 'kSink' %}

    <p><code>getFoo</code> {{ kitchenSink.foo }}</p>

    <p><code>getTestUser</code> {{ kitchenSink.testUser.userAndCode }}</p>
</div>
